@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');

:root{
    --color-blue: #48ccff;
    --color-purpledary: #7546b8;
    --color-yellow: #fcbf48;
    --color-white: #fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container{
    background-color: var(--color-blue);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title{
    width: 85%;
    font-size: 24px;
    text-align: center;
    margin-bottom: 70px;
    color: var(--color-white);
}
.ciudad{
    color: var(--color-yellow);
}
.infoTemporal{
    text-decoration: underline var(--color-yellow);
    text-underline-position: under;
}
.inputCity{
    padding: 10px 20px;
    border-radius: 30px;
    margin-bottom: 10px;
    border: 1px solid var(--color-blue);
    outline: none;
    transition: .2s;
}
.inputCity:focus{
    color: var(--color-blue);
    border: 1px solid black;
}

.weather{
    min-height: 288px;
    text-align: center;
}
.cityName{
    font-weight: 700;
    color: var(--color-white);
}
.temperature{
    font-size: 60px;
    color: var(--color-white);
}
.isDay{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

iframe{
    border: none;
    width: 150px;
    height: 150px;
}